* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
 }

 .bg-blue {
    background-color: #313A5F;
 }

 html {
    scroll-behavior: smooth;
 }

 .wrapper {
    margin-inline: auto;
    width: 1120px;
 }

 nav {
    display: flex;
    gap: 40px;
    padding-top: 46px;
 }

 nav a {
    display: block;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
 }

 .introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 95px 0px 205px 0px;
 }

 .introduction__title {
    color: #FFF;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
 }

 .introduction__text {
    width: 440px;
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.295%;
 }

 .introduction_img {
    width: 475px;
 }

 .my_portfolio {
    position: relative;
    margin: 150px 0px 150px 0px;
 }

 .my_portfolio__slide {
    display: flex;
    justify-content: space-between;
    gap: 75px;
 }

 .my_portfolio__title {
    color: #000;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 100px;
 }

 .my_portfolio__arrows {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 24px;
    cursor: pointer;
 }

 .my_portfolio__text {
    width: 570px;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 90px;
 }

 .my_portfolio__text-right {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 70px;
 }

 .my_portfolio_line {
    border-bottom: 2px solid #313A5F;
    margin-bottom: 33px;
 }

 .my_portfolio_btn {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 44px;
    background: #313A5F;
    padding: 29px 120px;
    cursor: pointer;
    border: none;
 }

 .my_portfolio_btn:hover {
    background-color: #414C79;
 }

 .about {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 55px;
   gap: 95px;
 }

 .about__title {
    color: #FFF;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 100px;
 }

 .about__text {
    width: 550px;
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.295%;
    margin-bottom: 150px;
 }

 .discussions {
    margin-top: 150px;
 }

 .discussions__title {
    color: #000;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 100px;
 }

 .discussions_text {
    margin: auto;
    width: 485px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
 }

 .discussions_text-contact {
    width: 555px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    margin-bottom: 100px;
 }

 .form {
    display: flex;
    justify-content: center;
 }

 input {
    width: 750px;
    padding: 20px 0px 20px 40px;
    align-items: center;
    gap: 52px;
    border-radius: 58px;
    border: 2px solid #313A5F;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 0px 33px 0px;
 }

 .form_contacts__btn {
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 40px;
    gap: 52px;
    border-radius: 58px;
    border: 2px solid #313A5F;
    background: #313A5F;
    margin-bottom: 50px;
    cursor: pointer;
    border: none;
 }

 .form_contacts__btn:hover {
    background-color: #414C79;
 }

 .footer_contacts {
    display: flex;
    justify-content: center;
    gap: 155px;
    margin-bottom: 68px;
 }

 .network {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
 }

 .error {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    color: red;
    font-size: 18px;
 }

 .invalid {
    border: 2px solid red;
}
